<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.bourke.finch"
      android:versionCode="1"
      android:versionName="1.0">

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="15" />

    <!-- used by twitter integration -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application android:label="@string/app_name"
                 android:icon="@drawable/ic_launcher">

        <activity android:name="HomeActivity"
                  android:label="@string/app_name"
                  android:uiOptions="splitActionBarWhenNarrow">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="LoginActivity"
                  android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="finch-callback" />
            </intent-filter>
        </activity>

    </application>
</manifest>
